@font-face {
  font-family: 'handwrite';
  src: url('DancingScript-VariableFont_wght.ttf');
}

html {
  font-family: 'handwrite';
  font-size: 140%;
}

body {
  height: 90vh;
  margin: 3;
  padding: 0 0rem;
}

footer {
  font-size: .8em;
  margin: 4em;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time {
  font-size: 1em;
}
